* {
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 12px;
    font: 12px 'Helvetica Neue',Helvetica,Arial,'Microsoft Yahei','Hiragino Sans GB','Heiti SC','WenQuanYi Micro Hei',sans-serif;
    background: #fff;
    color: #666;
    min-width: 990px;
    tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
}

ul, li {
    list-style-type: none;
}

input, textarea {
    font: 12px 'Helvetica Neue',Helvetica,Arial,'Microsoft Yahei','Hiragino Sans GB','Heiti SC','WenQuanYi Micro Hei',sans-serif;
}

input, button, select, textarea {
    outline: 0;
}

input::-webkit-input-placeholder { color:#A9A9A9; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #A9A9A9; }
input:-moz-placeholder, textarea:-moz-placeholder { color:#A9A9A9;}
input::-moz-placeholder, textarea::-moz-placeholder { color:#A9A9A9; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color:#A9A9A9; }
